$neutral-100: hsl(300, 40%, 98%);
$neutral-500: hsl(300, 9%, 76%);
$neutral-900: hsl(300, 49%, 18%);

$primary-100: hsl(300, 49%, 76%);
$primary-500: hsl(300, 49%, 49%);
$primary-600: hsl(300, 29%, 49%);
$primary-900: hsl(300, 49%, 29%);

$seconday: hsl(120, 50%, 50%);