@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;700&display=swap');

$font-family: 'Albert Sans', sans-serif;

$fs-sm: 76%;
$fs-md: 100%;
$fs-lg: 129%;

$fw-n: 400;
$fw-md: 500;
$fw-lg: 700;